@keyframes floatToLeft {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes floatToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}
@keyframes fadeUpAnime{
  0%   {
      transform:translateY(20px);
      opacity: 0;
  }
  100%  {
      transform:translateY(0px);
      opacity: 1;
  }
}