.done_change_password {
    #main {
        .inner {
            #done_change {
                padding-top: 160px;
                @include pc {
                    padding-top: get_pc(160);
                }
                @include sp {
                    width: 100%;
                    padding: get_sp(93) get_sp(20) 0;
                    margin-bottom: get_sp(149);
                }
                .inner {
                    padding: 95px 0 88px;
                    max-width: 1000px;
                    width: 100%;
                    margin: 0 auto;
                    box-shadow: 0 3px 6px rgba(77, 92, 177, 0.102);
                    border-radius: 10px;
                    @include pc {
                        padding: get_pc(95) 0 get_pc(88);
                        max-width: get_pc(1000);
                        box-shadow: 0 get_pc(3) get_pc(6) rgba(77, 92, 177, 0.102);
                        border-radius: get_pc(10);
                    }
                    @include sp {
                        max-width: 100%;
                        padding: get_sp(101) 0 get_sp(136);
                        border-radius: get_sp(10);
                        box-shadow: 0 get_sp(3) get_sp(6) rgba(77, 92, 177, 0.102);
                    }
                    .thumb {
                        width: 53px;
                        height: 53px;
                        margin: 0 auto 32px;
                        @include pc {
                            width: get_pc(53);
                            height: get_pc(53);
                            margin: 0 auto get_pc(32);
                        }
                        @include sp {
                            width: get_sp(53);
                            height: get_sp(53);
                            margin: 0 auto get_sp(35);
                        }
                    }
                    h2 {
                        font-size: 22px;
                        line-height: 32px;
                        font-weight: bold;
                        margin-bottom: 23px;
                        @include pc {
                            font-size: get_pc(22);
                            line-height: get_pc(32);
                            margin-bottom: get_pc(23);
                        }
                        @include sp {
                            font-size: get_sp(20);
                            line-height: get_sp(29);
                            margin-bottom: get_sp(20);
                        }
                    }
                    h3 {
                        font-size: 19px;
                        line-height: 27px;
                        margin-bottom: 37px;
                        font-weight: 500;
                        @include pc {
                            font-size: get_pc(19);
                            line-height: get_pc(27);
                            margin-bottom: get_pc(37);
                        }
                        @include sp {
                            font-size: get_sp(16);
                            line-height: get_sp(25);
                            margin-bottom: get_sp(45);
                        }
                        span {
                            display: block;
                        }
                    }
                    .btn {
                        a {
                            width: 220px;
                            height: 52px;
                            font-size: 19px;
                            line-height: 52px;
                            margin: 0 auto;
                            @include pc {
                                width: get_pc(220);
                                height: get_pc(52);
                                font-size: get_pc(19);
                                line-height: get_pc(52);
                            }
                            @include sp {
                                width: get_sp(186);
                                height: get_sp(46);
                                line-height: get_sp(46);
                                font-size: get_sp(16);
                            }
                        }
                    }
                }
            }
        }
    }
}
.change_password {
    #main {
        .inner {
            #change {
                .inner {
                    padding-top: 160px;
                    margin-bottom: 167px;
                    @include pc {
                        padding-top: get_pc(160);
                        margin-bottom: get_pc(167);
                    }
                    @include sp {
                        padding:get_sp(55) get_sp(20) 0;
                        margin-bottom: get_sp(55);
                    }
                    .form_wrapper {
                        box-shadow: 0 3px 6px rgba(77, 92, 177, 0.102);
                        border-radius: 10px;
                        width: 1000px;
                        margin: 0 auto;
                        padding: 79px 232px 90px;
                        @include pc {
                            box-shadow: 0 get_pc(3) get_pc(6) rgba(77, 92, 177, 0.102);
                            border-radius: get_pc(10);
                            width: get_pc(1000);
                            margin: 0 auto;
                            padding: get_pc(79) get_pc(232) get_pc(90);
                        }
                        @include sp {
                            box-shadow: 0 get_sp(3) get_sp(6) rgba(77, 92, 177, 0.102);
                            border-radius: get_sp(10);
                            width: 100%;
                            // height: get_sp(646);
                            margin: 0 auto;
                            padding: get_sp(25) get_sp(20) get_sp(56);
                        }
                        .thumb {
                            width: 65px;
                            height: 65px;
                            margin: 0 auto 26px;
                            @include pc {
                                width: get_pc(65);
                                height: get_pc(65);
                                margin: 0 auto get_pc(26);
                            }
                            @include sp {
                                width: get_sp(65);
                                height: get_sp(65);
                                margin: 0 auto get_sp(30);
                            }
                        }
                        h2 {
                            font-size: 22px;
                            line-height: 32px;
                            font-weight: bold;
                            margin-bottom: 34px;
                            @include pc {
                                font-size: get_pc(22);
                                line-height: get_pc(32);
                                margin-bottom: get_pc(34);
                            }
                            @include sp {
                                font-size: get_sp(20);
                                line-height: get_sp(29);
                                margin-bottom: get_sp(27);
                            }
                            span {
                                @include sp {
                                    display: block;
                                }
                            }
                        }
                        form {
                            margin-bottom: 35px;
                            @include pc {
                                margin-bottom: get_pc(35);
                            }
                            @include sp {
                                margin-bottom: get_sp(39);
                            }
                            .item_input {
                                .tlt_item {
                                    h3 {
                                        margin-bottom: 10px;
                                        letter-spacing: 1.9px;
                                        @include pc {
                                            letter-spacing: get_pc(1.9);
                                            margin-bottom: get_pc(10);
                                        }
                                        @include sp {
                                            letter-spacing: get_sp;
                                            margin-bottom: get_sp(10);
                                        }
                                    }
                                }
                                .item_field {
                                    margin-bottom: 5px;
                                    @include pc {
                                        margin-bottom: get_pc(5);
                                    }
                                    @include sp {
                                        margin-bottom: get_sp(5);
                                    }
                                }
                                .error {
                                    display: block;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: $clr-red-1;
                                    font-weight: 500;
                                    text-align: left;
                                    margin-top: 5px;
                                    letter-spacing: 1.4px;
                                    @include pc {
                                        letter-spacing: get_pc(1.4);
                                        font-size: get_pc(14);
                                        line-height: get_pc(20);
                                        margin-top: get_pc(5);
                                    }
                                    @include sp {
                                        font-size: get_sp(12);
                                        letter-spacing: get_sp(1.4);
                                        margin-top: get_sp(5);
                                        line-height: get_sp(17);
                                    }
                                }
                            }
                        }
                        .login{
                            a {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                color: $clr-dark-purple;
                                @include pc {
                                    font-size: get_pc(16);
                                    line-height: get_pc(24);
                                }
                                @include sp {
                                    font-size: get_sp(16);
                                    line-height: get_sp(24);
                                }
                            }
                        }
                        .btn_outline {
                            margin-bottom: 35px;
                            @include pc {
                                margin-bottom: get_pc(35);
                            }
                            @include sp {
                                margin-bottom: get_sp(21);
                            }
                            a {
                                width: 220px;
                                margin: 0 auto;
                                @include pc {
                                    width: get_pc(220);
                                }
                                @include sp {
                                    width: get_sp(186);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}