$fonts-noto-san : 'Noto Sans JP', sans-serif;

$breakpoint-lagre: 1600px;
$breakpoint-pc: 901px;
$breakpoint-md: 900px;

$clr-bg: #ffffff;
$clr-base : #4d4d4d;
$clr-bg-tlt : #C4CCF7;
$clr-dark-purple : #4D5CB1;
$clr-normal-purple: #EBEEFF;
$clr-light-purple: #EBEEFF;
$clr-dark-gray: #707070;
$clr-medium-gray: #D3D3D3;
$clr-light-gray: #EFEFEF;
$clr-black : #000000;
$clr-border: #DB8031;
$clr-bgr-orange: #FCEFDB;
$clr-txt-inactive : #B7B7B7;
$clr-placeholder-search : #626262;
$clr-dark-orange :#F39800;
$clr-tlt-course : #3C2918;
$clr-modal-overflow: rgb(190, 190, 190);
$clr-green: #8AC7CC;
$clr-gray-1: #F2F2F2;
$clr-red-1: #D05353;
$clr-green-1: #529B60;
$clr-light-purple-1 : #8B9AEF;
$clr-dark-gray-1: #4E4E4E;
$clr-blu-1: #4755A3;
$clr-title-sub: #C1C1C1;
$clr-percent: #BEBEBE;
$clr-percent-line: #E0E0E0;
$clr-light-purple-1 : #8B9AEF;
$clr-gray-2 : #8D8D8D;


$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-cubic-out: cubic-bezier(0.915, 0.030, 0.910, 0.350);
