@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
@mixin formclear {
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}
@mixin bgsetup($bgimage: '', $bgposi: '', $bgsize: '', $bgrepeat: '') {
    @if $bgimage != '' {
        background-image: url($bgimage);
    }
    @if $bgposi != '' {
        background-position: $bgposi;
    }
    @if $bgsize != '' {
        background-size: $bgsize;
    }
    @if $bgrepeat != '' {
        background-repeat: $bgrepeat;
    } @else {
        background-repeat: no-repeat;
    }
}

@mixin pc { //pc
    @media only screen and (max-width: ($breakpoint-lagre)) and (min-width: ($breakpoint-pc)) {
        @content;
    }
}

@mixin sp { //sp
    @media (max-width: ($breakpoint-md)) {
        @content;
    }
}

@function get_pc($fsize, $viewport:1600) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_sp($fsize, $viewport:390) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@mixin textSetting($font-size : '' , $line-height : '', $color: '', $font-weight: '' , $letter-spacing: '') {
    font-size: $font-size;
    line-height: $line-height;
    @if $color != '' {
        color: $color;
    }
    font-weight: $font-weight;
    @if $letter-spacing != '' {
        letter-spacing: $letter-spacing;
    }
  }

/* text clamp */
@mixin txtClamp($clamp: '') {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $clamp;
}
